.card-img {
  height: 18rem;
  padding: 3px;
}

.jumbotron {
  margin-top: 100px;
}
.car-img {
  height: 16rem;
  width: 16rem;
}
.spiner {
  margin-left: 60px;
}
.car-prod {
  margin-top: 20px;
}

.car-img2 {
  height: 10rem;
  width: 10rem;
}
.orderProd {
  min-width: 15rem;
}
.columnaCarrito {
  width: 100%;
}
.custom-select {
  display: inline;
  width: 5% !important;
  margin-left: 10px;
}
.addCar {
  margin: 5px;
}

#orders-img {
  max-height: 15rem;
  max-width: 140vh;
}

#ordersTitle {
  margin: 30px;
  text-align: center;
  text-transform: uppercase;
}
.cardw {
  height: 23rem;
  margin-top: 20px;
  width: 20rem;
}
.orders {
  width: 130vh;
  margin: 20px;
}
.cardCar {
  height: 26rem;
  margin-top: 20px;
  width: 20rem;
}

.categories {
  margin: 5px;
  width: 20rem;
  height: 23rem;
}

body {
  background: linear-gradient(
    90deg,
    rgba(206, 214, 235, 1) 3%,
    rgba(151, 171, 219, 1) 26%,
    rgba(219, 224, 236, 1) 96%,
    rgba(242, 242, 242, 1) 100%,
    rgba(246, 246, 246, 1) 100%
  );
}
.form {
  margin-top: 4rem;
}

* {
  font-family: "Nunito", sans-serif;
}

.container {
  min-height: 65vmin;
}

/* style footer */

.redes-sociales {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}

.redes-sociales a {
  display: block;
  width: 60px;
  height: 60px;
  color: #fff;
  border-radius: 100px;
  transition: 0.3s ease all;
  text-align: center;
  margin: 20px;
}

.facebook {
  background: #3b5998;
}

.instagram {
  background: #c13584;
}

.linkedin {
  background: #0e76a8;
}

.twitter {
  background: #1da1f2;
}

.redes-sociales a i {
  font-size: 20px;
  line-height: 60px;
}

.contenedor-icono:hover a {
  animation: icono 0.5s ease;
}

@keyframes icono {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }
  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.creado-por {
  margin-bottom: 40px;
  text-align: center;
  font-size: 16px;
  color: #17a2b8;
}
