.card-img {
  height: 18rem;
  padding: 3px;
}

.car-img {
  height: 16rem;
  width: 16rem;
}

.car-prod {
  margin-top: 20px;
}

.car-img2 {
  height: 10rem;
  width: 10rem;
}

.cardw {
  height: 23rem;
  margin-top: 20px;
  width: 20rem;
}

.boton {
  margin-left: 5px;
}

.categories {
  margin: 5px;
  width: 20rem;
  height: 23rem;
}

body {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background: #4cb8c4; 
  background: -webkit-linear-gradient(
    to right,
    #3cd3ad,
    #4cb8c4
  ); 
  background: linear-gradient(
    to right,
    #3cd3ad,
    #4cb8c4
  );  */
}
.form {
  margin-top: 4rem;
}

* {
  font-family: "Nunito", sans-serif;
}
